<!DOCTYPE html>
<html>
  <head>
    <title>Buyer Page</title>
  </head>
  <body>
    <h1>Buyer Page</h1>
    <p>Buyer ID: {{ buyer.buyer_id }}</p>
    <p>Username: {{ buyer.username }}</p>
    <p>Password: {{ buyer.password }}</p>
    <p>Email: {{ buyer.email }}</p>
    <p>Address: {{ buyer.address }}</p><br>
    <form action="/return_search" method="POST">
      <label for="query">Search Products:</label>
      <input type="text" id="query" name="query" required>
      <button type="submit">Search</button>
    <br>
    <p><a href="return_order">See order history</a></p>
  </body>
</html>
